.layui-table-cell {
	height: 100px;
	line-height: 100px;
	height: auto;
	line-height: 13px;
	padding: 0 15px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	box-sizing: border-box;
}